@font-face {
  font-family: 'Street_Fighter';
  src: url('Images/police/Street_Fighter.ttf');
}
.container h1{
    font-family: 'Street_Fighter';
    color : #FE9000;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-left: 22%;
    font-size: 75px;
}
.cartep2{
  padding-left: 45%;
  width: 140%;
}
.container h2{
    font-family: 'Street_Fighter';
    color : #FE9000;
    font-size: 40px;
}
.card-text {
    font-size: 1.2em;
    text-align: center;
}

.card-img-top {
    border: 5px solid;
    border-image: url('/img/wood_1/wood_1.png') 5px;
    box-shadow: 5px 5px 0 gray;
}

.card-body {
    padding: 15px;
}

.card-img-top:hover {
    transform: scale(2);
}


h1 {
	max-width: 60%;
	margin-left: 10%;
}

body {
    background-color: black;
    color: #ddd;
}

.life-gauche {
	position: absolute;
	top: 5%;
}

.life-droite {
	position: absolute;
	top: 5%;
	margin-left: 62%;
}

#avancement-0 {
	position: absolute;
	top: 12%;
	margin-left: 6.5%;
	width: 22.9%;
}

#avancement-1 {
	position: absolute;
	top: 12%;
	width: 22.9%;
	margin-left: 66%;
	transform: rotate(180deg);
}

/*Animation page fight*/

@keyframes slideGauche {
  0% {
      margin-left: 20%;
      transform: rotate(20deg);
  }
  60% {
    margin-left: 75%;
    transform: rotate(20deg)
  }
  100% {
      margin-left: 20%;
      transform: rotate(-360deg)
  }
}

@keyframes slideDroite {
  0% {
      margin-right: 20%;
      transform: rotate(20deg);
  }
  60% {
    margin-right: 75%;
    transform: rotate(20deg)
  }
  100% {
      margin-right: 20%;
      transform: rotate(-360deg)
  }
}

.animation-gauche {
	animation-name: slideGauche;
    animation-duration: 1.5s;
}

.animation-droite {
	animation-name: slideDroite;
	animation-duration: 1.5s;
}

.declenchement-onomatopee {
	animation-name: mymove;
    animation-duration: 3s;
    z-index: 1;
}

.joueur-gauche {
    text-align: center;
    margin-left: 20%;
}
.boutons-gauche {
    margin-top: 10px;
    padding-left: 7%;
}

.joueur-droite {
    float: right;
    text-align: center;
    margin-right: 20%;    
}
.boutons-droite {
    margin-top: 10px;
    padding-right: 7%;
    text-align: right;
}

.onomatopee {
    visibility: hidden;
    position: absolute;
    top: 20%;
    margin-left: 5%;
    max-width: 80%;
}

@keyframes mymove {
    0%   {visibility: hidden;}
    25%  {visibility: hidden;}
    60%  {visibility: visible;}
    65%  {visibility: hidden;}
    100% {visibility: hidden;}
}
