h1 {
	max-width: 60%;
	margin-left: 10%;
}

body {
	background-color: black;
}

.life-gauche {
	position: absolute;
	top: 5%;
}

.life-droite {
	position: absolute;
	top: 5%;
	margin-left: 62%;
}

#avancement-0 {
	position: absolute;
	top: 12%;
	margin-left: 10%;
}

#avancement-1 {
	position: absolute;
	top: 12%;
	margin-left: 75%;
	transform: rotate(180deg);
}