h1 {
	max-width: 60%;
	margin-left: 10%;
}

body {
	background-color: black;
}

.life-gauche {
	position: absolute;
	top: 5%;
}

.life-droite {
	position: absolute;
	top: 5%;
	margin-left: 62%;
}

#avancement1 {
	position: absolute;
	top: 12%;
	margin-left: 6.5%;
	width: 22.9%;
}

#avancement2 {
	position: absolute;
	top: 12%;
	margin-left: 66%;
	width: 22.9%;
	transform: rotate(180deg);
}